.switch{
    display: inline-block;
    position: relative;
    top:17px;
    width: 40px;
    left: 20px;
    transform: translate(-50%, -50%);
    -webkit-appearance: none;
    background: #c6c6c6;
    border-radius: 20px;
    height: 20px;
    transition: .5s;
    box-shadow: inset 0 0 0 5px rgba(0, 0, 0, .2);
}
.switch:checked{
    background: #40e551;
}
.switch::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top:0;
    left:0;
    background: #fff;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.switch:checked::before{
    left: 20px;
}
.DivForInput_radio {
    display: inline-block;
    cursor: pointer;
    width: 48px;
    position: relative;
    height: 48px;
    background-color: gray;
    border-radius: 4px 0 0 4px;
}
.DivForInput_radio__inside {
    cursor: pointer;
    width: 16px;
    position: relative;
    background-color: white;
    left: 16px;
    top: 16px;
    border-radius: 50%;
    height: 16px;
}
.DivForInput_radio__inside1 {
    cursor: pointer;
    width: 14px;
    position: relative;
    background-color: white;
    top: 1px;left:1px;
    border-radius: 50%;
    height: 14px;
}
.InputInLogInWindow {
    border: 1px solid grey;
    transition: ease, all, 1s;
    border-radius: 0 4px 4px 0;
    display: inline-block;
    width: 500px;
}
.DivForInput {
    height: 40px;
    width: 546px;
    transition: ease, all, .2s;
    border-radius: 4px;
}
.DivForLogin {
    height: 40px;
    width: 546px;
    transition: ease, all, .2s;
    border-radius: 4px;
}
.DivForLogin .InputInLogInWindow {
    border: 1px solid grey;
    width: 540px;
    transition: ease, all, 1s;
    border-radius: 4px;
    display: inline-block;
}
.DivForInput:hover{
    border: 4px lightblue solid;
}
.DivForLogin:hover{
    border: 4px lightblue solid;
}
.DivForInput:hover .InputInLogInWindow{
    border-radius: 0;
}
.DivForInput:hover .DivForInput_radio{
    border-radius: 0;
}
.DivForLogin:hover .InputInLogInWindow{
    border-radius: 0;
}
.ButtonLogin {
    position: relative;
    left: 476px;
    font-size: 24px;
    cursor: pointer;
    background-color: lightgray;
    width: 65px;
    padding: 1px 2px;
    border-radius: 4px;
}
.SignUpFormR {
    display: none;
}
.InputInLogInWindowR {
    border: 1px solid grey;
    transition: ease, all, .2s;
    border-radius: 4px;
    display: inline-block;
    width: 540px;
    left: 1px;
    position: relative;
}
.DivForInputR {
    height: 56px;
    width: 547px;
    transition: ease, all, .2s;
    border-radius: 4px;
}
.DivForInputR:hover{
    height: 66px;
    width: 560px;
}
.DivForInputR:hover .InputInLogInWindowR{
    border: 4px lightblue solid;
    border-radius: 4px;
}
.SignUpBtnR {
    position: relative;
    font-size: 22px;
    width: 186px;
    padding: 1px 2px;
    background-color: lightgrey;
    border-radius: 4px;
    cursor: pointer;
    left: 356px;
}
.ErrR {
    position: relative;
    left: 5px;
    letter-spacing: normal;
    color:red;
    font-size: 14px;
}

/*typical*/
html {
    background-color: gray;
    overflow-x:hidden;
}
img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
::-webkit-scrollbar {
    width: 8px;
    border-radius: 6px;
}
::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: #e3f3ff;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #fff;
    border: 1px solid #000;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.Notification {
    display: block;
    width: auto;
    max-width: 200px;
    margin-bottom: 4px;
    position: relative;
    padding: 5px 10px 5px 10px;
    letter-spacing: normal;
    background-color: lightgray;
    font-size: 20px;
    border-radius: 2px;
    color: white;
    height: auto;
    overflow: hidden;
}
#NotificationBlock {
    overflow: hidden;
    max-height: calc( 100vh - 90px );
    position: fixed;
    bottom: 0;
    right: 3px;
}

.loading {
    color: lightgrey;
    display: inline-block;
    position: relative;
    left: calc( 50% - 45px );
    top: calc( 50% - 85px );
    width: 240px;
    height: 240px;
}
.loading div {
    transform-origin: 40px 40px;
    animation: loading 1.2s linear infinite;
}
.loading div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 18px;
    left: 150px;
    width: 12px;
    height: 48px;
    border-radius: 20%;
    background: #fff;
}
.loading div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.loading div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.loading div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.loading div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.loading div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.loading div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.loading div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.loading div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.loading div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.loading div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.loading div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.loading div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}